body,
html {

  margin: 0;

}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  background: #849d8f;
}

.logo {
  margin-right: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.site-wrapper {
  background-image: url("../img/image-shadow1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  transition: 0.5s ease, background-color 0.5s ease;

}

.main-header {
  width: 1146px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.slider {
  position: relative;
  margin-top: 274px;
  text-align: center;
  color: #ffffff;
}

.main-menu .sub-main-menu {
  position: absolute;
  display: none;
  top: 48px;
  left: -7px;
  width: 143px;
  padding: 0;
  color: #323232;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
}

.main-menu > li:hover .sub-main-menu {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*скрываем слайд*/
.slide {
  display: none;
}

.slide-title {
  width: 700px;
  position: relative;
  top: 1px;
  left: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label /*cтили для управляющих элементов*/
{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

/*показываем слайд в зависимости от кнопки*/
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

/*выделение активной кнопки,чтобы было понятно на каком мы слайде*/
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*фон в зависимости от нажатой кнопки*/
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  *background-image: url("../img/image-shadow1.jpg");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/image-shadow2.jpg");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/image-shadow3.jpg");
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0px;
  z-index: 20;
  font-size: 0;
}

.nav-navigation {
  display: flex;
  flex-direction: row;
  width: 688px;
  margin-right: 13px;
}

.main-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 6px;
  padding: 0;
  font-size: 0;
}

.main-menu_item {
  list-style-type: none;
  margin-top: 12px;
  margin-left: 1px;
  margin-right: -1px;
  padding-top: 8px;
}

.main-nav_link {
  position: relative;
  padding: 4px 13px;
  color: #ffffff;
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
  text-decoration: none;
}

.main-nav_link:hover {
  border-radius: 20px;
  color: #333;
  background-color: #f7f6f3;
}

.main-menu_item .main-nav_link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 13px;
  width: calc(100% - 26px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav_link:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
  border-bottom-color: #a7a294;
}

.main-navigation-title {
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.main-navigation-li {
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 16px;
  min-height: 17px;
}

.main-navigation-li:first-child {
  border-bottom: 1px solid #d1d0ce;
}

.main-navigation-li:hover {
  background-color: #fbded7;
}

.main-navigation-li:active {
  background-color: #f6b5a5;

}

.main-navigation-sub {
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  border: 0;
  text-decoration: none;
}

.main-nav_link-active {
  margin: 0 3px 0 1px;
  padding: 5px 14px 7px 14px;
  background-color: #d07058;
  border: 0;
  border-radius: 14px;
}

.buttons-common-search {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 14px;
  top: 5px;
  width: 284px;
  min-height: 34px;
}

.buttons-common-wrap {
  margin: 14px 8px 0;
}

.buttons-common-form {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}

.buttons-common-wrap:hover .buttons-common-form {
  display: block;
}

.buttons-common-form-login {
  top: 49px;
  left: -131px;
  width: 241px;
  padding: 20px 16px 13px 17px;
  height: 180px;
  z-index: 1;
}

.email-field,
.password-field {
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  border: 1px solid rgba(70, 70, 70, 0.48);
  border-radius: 3px;
  min-height: 29px;
  outline: none;
  padding-right: 20px;
}

.btn.btn-entrance {
  width: 100px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  background: #f26843;
  background: linear-gradient(to top, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  text-align: center;
  border: 0;
  border-radius: 50px;
  min-height: 44px;
}

.btn.btn-entrance:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn.btn-entrance:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.form-login-hrefs {
  display: flex;
  flex-direction: column;
  color: #000;
  position: relative;
  left: 120px;
  bottom: 40px;
  font-size: 13px;
}

.link {
  font-size: 13px;
  text-decoration: underline;
  color: #323232;
  border-bottom-color: #b2b2b2;
  cursor: pointer;
}

.link:hover {
  color: #e84d37;
  border-bottom-color: #f9cdc4;
  cursor: pointer;
}

.input-field-form {
  margin-bottom: 20px;
}

.buttons-common-form-search {
  top: 49px;
  left: -299px;
  width: 340px;
  min-height: 84px;
}

.input-field.buttons-common-input-field {
  margin: 20px 15px;
}

.input-field {
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 19px;
  margin-bottom: 0px;
}

.search {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
/*
input[type="text"]:focus {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 13px;
  border: 2px solid rgba(46, 136, 228, 0.48);
}

input[type="text"]:not(.label-hide):focus + label {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}
*/

.field-newsletter {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
  border: none;
  border-radius: 4px;
  min-height: 24px;
}

.field-newsletter:hover {
  border: 2px solid rgba(56, 74, 93, 0.48);
}

.email-label {
  position: absolute;
  left: 15px;
  top: 7px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.field-newsletter:focus + .email-label{
  display: block;
  position: absolute;
  font-size: 11px;
  color: #5b9ddf;
  top: -23px;
  left: 14px;
}


.search-field {
  width: 267px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 27px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  border: 1px solid rgba(70, 70, 70, 0.48);
  border-radius: 3px;
  min-height: 29px;
  outline: none;
}

.search-field:hover {
  border: 2px solid rgba(56, 74, 93, 0.48);
}

.password {
  position: absolute;
  top: 30px;
  left: 34px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  cursor: text;
}

.email {
  position: absolute;
  top: 94px;
  left: 34px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  cursor: text;
}

.btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  background: rgba(255, 255, 255, .2);
  margin: 0px;
  padding: 6px;
  border-radius: 16px;
}

.btn-search {
  padding-top: 22px;
  padding-right: 19px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-size: 0px;
  background: rgba(255, 255, 255, .2);
}

.btn-search:hover {
  background-color: #f8f7f4;

}

.btn-search:hover::before {
  position: absolute;
  content: "";
  top: 16px;
  left: 16px;
  width: 17px;
  height: 17px;
  background-image: url(../img/loupe-black.svg);
}

.btn-search::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 17px;
  height: 17px;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;

}

.buttons-common-search .btn-basket {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 35px;
  padding-bottom: 8px;

}

.buttons-common-search .btn-entry {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 38px;
}

.btn-entry::before {
  position: absolute;
  content: " ";
  top: 15px;
  left: 68px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/entrance1.svg);
}

.btn-entry:hover::before {
  position: absolute;
  content: " ";
  top: 15px;
  left: 68px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/entrance1-black.svg);
}

.btn-entry:hover {
  color: #000000;
  background-color: #f8f7f4;
}

/*.btn.btn-basket {
  color: #ffffff;
  background: rgba(255, 255, 255, .2);
}
*/
.btn.btn-basket::before {
  position: absolute;
  content: " ";
  left: 166px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/basket.svg);
  margin: 5px;
}

.btn.btn-basket-active::before {
  position: absolute;
  content: " ";
  left: 166px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/basket-red.svg);
  margin: 5px;
}

.btn-basket-active {
  padding-left: 44px;
  padding-right: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.contacts {
  width: 172px;
  margin-left: auto;
}

.contacts-time {
  margin: 0;
  margin-top: -6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contacts-number {
  margin-top: -3px;
  padding-top: 7px;
  font-size: 22px;
  line-height: 24px;
}

.visually-hidden {
  font-size: 0;

}

.index-banner {
  display: flex;
  flex-direction: row;
}

.banner {
  width: 520px;
  margin-top: 43px;
  margin-bottom: 33px;
  padding: 15px 21px 23px 19px;
  min-height: 191px;
}

.raspberries-baner {
  background-image: url(../img/raspberri-background.png);
  background-color: #73172b;
  background-size: cover;
  border-radius: 11px;
  margin-left: 3px;
  margin-right: 28px;
}

.chocolate-baner {
  background-color: #3a2217;
  background-image: url(../img/chocolate-background.png);
  border-radius: 11px;
  margin-right: 1px;
}

.caption {
  font-weight: 400;
  font-size: 35px;
  line-height: 37px;
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  word-spacing: 1px;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 22px;
}

.btn-want-jam {
  display: block;
  width: 120px;
  margin-left: auto;
}

.btn-want-chocolates {
  display: block;
  width: 160px;
  margin-left: auto;
}

.btn.btn-want {
  border-radius: 23px;
  padding: 10px 25px 11px 21px;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  min-height: 24px;
  background: #f26843;
  background: linear-gradient(to top, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn.btn-want:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn.btn-want:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.bestseller-items {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*Мороженки*/
.item {
  position: relative;
  display: inline-block;
  width: 267px;
  margin-bottom: 48px;
  text-align: center;
  vertical-align: top;
}

.item::before {
  display: none;
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -65px;
  background-color: rgba(248, 247, 244, 0.3);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.3);
  padding-bottom: 20px;
}

.item:hover .btn-item-hover,
.item:hover::before {
  display: block;
}

.item-hover {
  position: relative;
}

.btn-item-hover {
  position: absolute;
  bottom: -48px;
  left: 10%;
  display: none;
  border-radius: 23px;
  margin: 0 auto;
  padding: 10px 25px 11px 21px;
  font-weight: 200;
  width: 170px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  min-height: 24px;
  background: #f26843;
  background: linear-gradient(to top, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  z-index: 2;
}

.btn-item-hover:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-item-hover:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.item-hover-img {
  border-radius: 50%;
}

.item-price {
  position: relative;
  top: -70px;
  font-size: 45px;
  font-weight: 100;
  line-height: 45px;
  margin: 0;
}

.rouble {
  vertical-align: bottom;
}

.item-price-link {
  position: relative;
  top: -30px;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #a9bbb1;
  text-decoration: none;
  z-index: 2;
}

.item-price-link:hover {
  color: #ffbc9e;
  border-bottom-color: #a7a294;
}

.item-price-link:active {
  color: #bdab96;
  border-bottom-color: #a7a294;
}

/* О магазине Глейси*/
.about-gllacy {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/pattern-wafel.png);
  width: 1100px;
  margin: 0 auto;
  padding-top: 21px;
  padding-right: 21px;
  padding-bottom: 3px;
  padding-left: 22px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #323232
}

.about-gllacy-right,
.about-gllacy-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 480px;
}

.about-gllacy-left {
  padding-left: 57px;
  margin-top: 0;
  margin-right: 1px;
}

.about-gllacy-right {
  padding-left: 57px;
  padding-right: 25px;
}

.subject {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 2px;
  margin-left: 1px;
}

.about-gllacy-text {
  margin-top: 0;
  margin-bottom: 23px;
}

.about-gllacy-text:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 92px;
  width: 50px;
  height: 50px;
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
}

.about-gllacy-right .about-gllacy-text:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 560px;
  width: 50px;
  height: 50px;
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
}

.about-gllacy-text:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 21px;
  top: 180px;
  width: 50px;
  height: 50px;
  background-image: url(../img/eco.svg);
  background-repeat: no-repeat;
}

.about-gllacy-right .about-gllacy-text:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 560px;
  width: 50px;
  height: 50px;
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
}

/* О магазине Глейси */

/*Рассылка*/

.distribution {
  display: flex;
  flex-direction: row;
  width: 1146px;
  margin: 1px auto;
}

.mailing-information-blog {
  width: 560px;
  background-image: url(../img/blog-news.png);
  background-repeat: no-repeat;
  min-height: 220px;
  margin-top: 39px;
  margin-left: 5px;
  margin-right: 22px;
  border-radius: 5px;
}

.mailing-information-news {
  width: 560px;
  background-image: url(../img/bg-post.svg);
  background-repeat: no-repeat;
  min-height: 220px;
  margin-top: 39px;
  margin-left: 5px;
  border-radius: 5px;
}

.wrap {
  width: 511px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 29px 18px 29px 21px;
  background-color: #f8f7f4;
  min-height: 151px;
  border-radius: 10px;
}

.new-in-blog {
  color: #000000;
  font-size: 16px;
  margin-left: 19px;
  margin-top: 22px;
  margin-bottom: 6px;
}

.ways-serving {
  display: inline-block;
  width: 290px;
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  margin-left: 19px;
  margin-right: 18px;
  cursor: pointer;
}

.ways-serving:hover {
  color: #e84d37;
  border-bottom-color: #f9cdc4;
}

.sign-newsletter {
  color: #000000;
  font-size: 16px;
  margin: 0;
  margin-bottom: 37px;
  line-height: 22px;
}

.input-field {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.btn-send {
  width: 130px;
  height: 45px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border-radius: 26px;
  border: 0;
  background: linear-gradient(to top, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-send:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-send:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.map {
  position: relative;
  width: 1146px;
  height: 430px;
  margin-top: 40px;
  background-color: #e9e1c2;
  background-image: url(../img/map.jpg);
}

/*
.map::after{
  content: "";
  width: 80px;
  height: 140px;
  position: absolute;
  top: 138px;
  left: 268px;
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
}
*/
.booking-form {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 63px;
  margin-right: 27px;
  padding-top: 15px;
  padding-left: 23px;
  background-color: white;
  color: black;
  width: 277px;
  height: 270px;
  border-radius: 10px;
}

.office-adress {
  width: 157px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 12px;
  margin-left: 4px;
  margin-bottom: 0;
  color: black;
}

.street-name {
  padding-left: 3px;
  font-size: 18px;
  line-height: 24px;
}

.order-phone {
  font-size: 14px;
  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 3px;
}

.map-phone {
  display: block;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
}

.work-time {
  display: block;
  margin-bottom: 27px;
}

.btn-feedback-form {
  display: inline-block;
  width: 235px;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 16px;
  margin-left: 2px;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  background-color: inherit;
  background-image: -webkit-linear-gradient(#e74a35, #f26843);
  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.46);
}

.btn-feedback-form:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-feedback-form:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*модальное окно*/
.input-field {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/*Форма обратной связи*/
.modal {
  border-radius: 10px;
  background-color: #f8f7f4;
}

.modal-show {
  display: block;
}

.modal-feedback {
  position: fixed;
  z-index: 13;
  top: 120px;
  left: 50%;
  margin-left: -239px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 25px;
}

.answer {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.feedback-name, .feedback-email {
  width: 251px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 14px;
  border: 1px solid rgba(70, 70, 70, 0.48);
  border-radius: 3px;
  margin-bottom: 20px;
  height: 29px;
}

.name-user,
.email-answer,
.feedback-message{
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  cursor: text;
}

.feedback-text {
  width: 410px;
  height: 141px;
  margin-bottom: 60px;
  overflow: auto;
  border-radius: 3px;
  border: 2px solid rgba(70, 70, 70, 0.48);
}

.modal-feedback-close {
  position: absolute;
  top: 18px;
  right: 14px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background: 0 0;
  font-size: 0;
  outline: none;
}

.modal-feedback-close::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 24px;
  content: "";
  background: #000000;
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 24px;
  content: "";
  background: #000000;
  transform: rotate(-45deg);
}

.btn-submit {
  position: absolute;
  bottom: 20px;
  left: 305px;
  width: 138px;
  height: 43px;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 16px;
  margin-left: 2px;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  background-color: inherit;
  background-image: -webkit-linear-gradient(#e74a35, #f26843);
  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.46);
}

.btn-submit:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-submit:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #a9bbb1;
}

.footer-social {
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  margin-left: 37px;
  margin-bottom: 10px;
}

.social-btn {
  /*display: inline-block;*/
  width: 31px;
  height: 31px;
  margin-right: 7px;
  font-size: 0;
  border: 4px solid rgba(194, 206, 199, 1.0);
  border-radius: 50%;
  opacity: 0.8;
  vertical-align: bottom;
}

.social-btn:hover {
  opacity: 1.0;
}

.social-btn:active {
  opacity: 1.0;
  box-shadow: inset 0px 2px 1px #888888;
}

.social-btn-twitter {
  background-color: #849d8f;
  background-image: url(../img/twitter.svg);
}

.social-btn-inst {
  background-color: #849d8f;
  background-image: url(../img/instagram.svg);
}

.social-btn-fb {
  background-color: #849d8f;
  background-image: url(../img/fb.svg);
}

.social-btn-vk {
  background-color: #849d8f;
  background-image: url(../img/vk.svg);
}

.footer-documentation {
  display: flex;
  flex-direction: row;
}

.footer-documentation:after {
  content: "";
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  position: relative;
  right: 335px;
  bottom: -5px;
}

.footer-documents-standards {
  display: flex;
  flex-direction: column;
  margin-left: 63px;
}

.documents {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: white;
  margin-right: -8px;
}

.documents:active {
  color: #bdab96;
  border-bottom-color: #bdab96;
}

.documents:hover {
  color: #ffbc9e;
  border-bottom-color: #a7a294;
}

.footer-copyright {
  margin-left: 129px;
  margin-right: 27px;
  font-size: 12px;
  line-height: 18px;
}

.logo-academy {
  font-size: 0;
  width: 113px;
  height: 39px;
  background: url(../img/logo-htmlacademy.svg);
}

.logo-academy:hover {
  width: 113px;
  height: 39px;
  background: url(../img/logo-htmlacademy-hover.svg);
}

.made-academy {
  margin: 0;
}

.footer-href {
  color: white;
  border-bottom: 1px solid #a9bbb1;
  text-decoration: none;
}

.footer-href:active {
  color: #bdab96;
  border-bottom-color: #a7a294;
}

.footer-href:hover {
  color: #ffbc9e;
  border-bottom-color: #a7a294;
}

/*Каталог*/

.active-menu{
  background: #d07058;
  text-decoration: none;
  border-radius: 20px;
}

.common-buttons-form {
  position: absolute;
  margin: 0;
  padding: 0;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .6);
  border-radius: 5px;
  background-color: #f8f7f4;
  display: none;
}

.common-buttons-form-backet {
  top: 49px;
  right: 0;
  width: 509px;
  padding: 20px 14px 19px 17px;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  min-height: 203px;
  z-index: 230;
}

.buttons-common-wrap:hover .common-buttons-form {
  display: block;
}


.basket-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 11px;
  min-height: 32px;
}

.basket-item-title {
  display: flex;
  flex-direction: row-reverse;
  width: 284px;
  margin-right: 22px;
  margin-left: 0px;
  margin-top: -12px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
}

.basket-item1 {
  position: relative;
  top: -7px;
  left: -13px;
  width: 33px;
  height: 33px;
  margin-right: 1px;
  border-radius: 50%;
}

.basket-item2 {
  position: relative;
  top: -7px;
  left: 20px;
  border-radius: 50%;
  margin-right: 32px;
}

.basket-item-worth {
  margin-top: 8px;
}

.basket-item-count {
  margin-top: 8px;
  margin-right: 24px;
}

.cost-per-kg {
  color: #999999;
}

.basket-item-last {
  padding-bottom: 14px;
  border-bottom: 1px solid #cacac7;
}

.btn-total {
  border-radius: 23px;
  padding: 10px 21px 11px 19px;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  min-height: 24px;
  background: #f26843;
  background: linear-gradient(to top, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-total:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-total:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-total-right {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-top: 25px;
}

.total {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 700;
}

.basket-item-delete {
  width: 13px;
  height: 13px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: #f8f7f4;
}

.basket-item-delete {
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 32px;
  left: 21px;
}

.basket-item-delete-last {
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 87px;
  left: 21px;
}

.breadcrumbs {
  margin-top: -44px;
}

.catalog-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 25px 0 2px;
  padding: 0;
}

.catalog-menu-item {
  margin-right: 10px;
  color: #e4e9e6;
}

.catalog-menu-link {
  font-size: 14px;
  color: #e4e9e6;
  border-bottom: 1px solid #a9bbb1;
  text-decoration: none;
}

.catalog-menu-link:hover {
  color: #ffbc9e;
}

.ice-cream {
  margin: 0;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 26px;
}

.filters {
  display: flex;
  flex-direction: row;
  width: 1146px;
  flex-wrap: wrap;
}

/*Сортировка*/
.sorting {
  margin-left: 14px;
}

.wrap-select-sort {
  position: relative;
  margin-right: 6px;
  margin-left: -5px;
  margin-bottom: 13px;
  cursor: pointer;
}

.sort {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 35px 11px 19px;
  border-radius: 20px;
  background: #a9bab0;
  color: #ffffff;
  font-size: 16px;
}

.wrap-select-sort::after {
  content:"";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  top: 14px;
  right: 17px;
  width: 0;
  height: 0;
}

.wrap-select-sort:hover::after {
  content:"";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  top: 14px;
  right: 17px;
  width: 0;
  height: 0;
}

select[name=sort]:hover {
  background-color: #ffffff;
  color: #000000;
}

.filter-title-price {
  border: none;
  padding: 0;
  margin: 0;
}

/*Ползунки*/

.ranges {
  position: relative;
  width: 215px;
  margin: 0 15px 0 0;
  padding: 0;
  border: 0;
}

.price {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-size: 14px;
  color: #ffffff;
}

.price-controls {
  position: relative;
}

.input-min-price,
.input-max-price {
  width: 50px;
  padding: 0;
  background: inherit;
  border: 0;
  color: #ffffff;
}

.min-price {
  margin-left: 5px;
}

.max-price {
  margin-left: 15px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 51%;
  width: 7px;
  height: 2px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  height: 20px;
  width: 218px;
  background-color: #a9bab0;
  border-radius: 50px;
  padding-top: 10px;
  padding-right: 1px;
  padding-bottom: 9px;
  margin-left: 8px;
}

.range-controls .scale {
  position: relative;
  width: 175px;
  height: 4px;
  background: rgba(255, 255, 255, .3);
  margin: 0 auto;
  top: 7px;
}

.range-controls .bar {
  width: 103px;
  height: 4px;
  background: #fff;
  margin-left: 25px;
}

.range-toggle-min {
  left: 132px;
}

.range-toggle-max {
  left: 33px;
}

.range-toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.fat-content {
  border: none;
  padding: 0;
  margin-left: 10px;
}

.filter-title {
  margin-left: 17px;
}

.product-fillers {
  border: none;
}

.container-buttons {
  background: #a9bab0;
  border-radius: 20px;
  padding: 10px 8px 9px 9px;
  margin-left: 2px;
  cursor: pointer;
}

.checked-label {
  position: relative;
  padding-left: 38px;
  padding-right: 14px;
  cursor: pointer;
}

.checked-label::after {
  content:" ";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50px;
  top: -1px;
  left: 7px;
  box-sizing: border-box;
  cursor: pointer;
}

.checked-label::before {
  content:" ";
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50px;
  top: 3px;
  left: 11px;
  display: none;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .checked-label::before {
  display: block;
}

/*Наполнители*/
input[type="checkbox"] {
  display: none;
}

.filter-checkbox-label {
  position: relative;
  margin-right: 24px;
  padding-left: 26px;
  cursor: pointer;
}

.filter-checkbox-label::after{
  content: "";
  position: absolute;
  left: -5px;
  top:0;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.filter-checkbox-label::before {
  content: " ";
  position: absolute;
  left: -9px;
  top: -2px;
  width: 27px;
  height: 22px;
  background: url(../img/checkbox-on.svg);
  display: none;
  cursor: pointer;
}

input[type="checkbox"]:checked +.filter-checkbox-label::before {
  display: block;
}

.container-buttons-fillers {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 21px;
  margin-left: -15px;
  cursor: pointer;
}

.btn-filter {
  width: 140px;
  margin: 26px 0 0 1px;
  padding: 2px 26px 3px 28px;
  background-color: #a9bab0;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-size: 16px;
  height: 36px;
  cursor: pointer;
}

.btn-filter:hover {
  color: #353535;
  background-color: #ffffff;

}

/*
.filter-title-price {
  width: 218px;
  height: 58px;
  margin-left: 14px;
  margin-right: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-cost {
  position: relative;
  width: 218px;
  height: 37px;
  margin-top: 5px;
  background-color: #a9bab0;
  font-size: 16px;
  line-height: 18px;
  border-radius: 18px;
  z-index: -1;
}

.scale {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 188px;
  height: 4px;
  background-color: #fff;
  opacity: .5;
}

.bar {
  position: absolute;
  top: 16px;
  left: 44px;
  width: 98px;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.range-toggle:last-child {
  position: absolute;
  top: 8px;
  left: 132px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.fat-content,
.product-fillers {
  margin: 0;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.container-buttons {
  height: 21px;
  padding: 10px 0px 6px 16px;
  margin-top: 5px;
  background-color: #a9bab0;
  font-size: 16px;
  line-height: 18px;
  border-radius: 18px;
}

.container-buttons-fat {
  width: 400px;
}

.container-buttons-fillers {
  width: 679px;
}

/*жирность
fieldset label {
  position: relative;
  margin-right: 15px;
  padding: 0;
  cursor: pointer;
}

fieldset:first-of-type label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
}

input[type=radio]:checked + label::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}

fieldset:first-of-type label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
}

fieldset:first-of-type label {
  padding-left: 29px;
}

наполнители
input[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  left: -3px;
  top: 0;
  width: 22px;
  height: 21px;
  background-image: url(../img/checkbox-on.svg);
}

fieldset:last-of-type label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 3px;
}

fieldset:last-of-type label {
  margin-right: 16px;
  padding-left: 32px;
}

fieldset:nth-of-type(2) {
  margin-top: 16px;
}

fieldset:nth-of-type(2) .filter-title {
  margin-left: 16px;
}

fieldset:nth-of-type(2) .container-buttons {
  padding-right: 5px;
}

.filters input[type=checkbox], .filters input[type=radio] {
  display: none;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.fat {
  display: none;
}




*/
.items-ice {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  height: 50px;
  margin-left: auto;
  margin-top: 80px;
}

.pagination_item {
  margin-right: 6px;
  cursor: pointer;
}

.pagination-pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-btn {
  width: 20px;
  height: 20px;
  font-size: 16px;
  background-color: #849d8f;
  border-radius: 50%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.paginator_btn--active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}

.pagination-btn:hover {
  color: #ffffff;
  background-color: #9db1a5;
  border-radius: 50%;
}

.icon-left {
  transform: rotate(180deg);
}

/*

.basket-item-delete::before,
.basket-item-delete::after{
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}
.basket-item-delete::before{
  transform:rotate(45deg);
}
.basket-item-delete::after{
  transform: rotate(-45deg);
}
/
.basket-item-worth{
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
}


/*
.basket-item-title{
  display: flex;
  flex-direction: row-reverse;
}

.basket-item1{
  width: 33px;
  height: 33px;
  margin-right: 13px;
  margin-left: 9px;
  border-radius: 50%;
  margin-top: -8px;
}
.basket-item2{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 11px;
}
.basket-item-title{
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  margin-right: 27px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: initial;
}

.basket-item-title:last-of-type{
  margin-right: 27px;
  margin-top: 18px;
  font-weight: initial;
}*/
